header {
  height: 200px;
  text-align: center;
  padding: 50px;
  background: lightgray;
  color: white;
}


footer {
  height: 200px;
  text-align: center;
  padding: 50px;
  background: lightgray;
  color: white;
}

body {
  height: calc(100vh - 400px);
}
ul li {
  font-size: 15pt;
  list-style: none;
  font-weight: bold;
  display: inline;
}
